$r_blue: #5fa8ae;
$r_purple: #884298;
$r_darkblue: #1c75bc;
#RewardsProgram{
	.header {
		background: url("../img/rewardsprogram_header_bg.png") center top no-repeat;
		padding-left: 130px;
		height: 76px;
		font-size: 10px;
		line-height: 12px;
		background-size: auto 100%;
	}
	.guest_view{
		.guest_header {
			height: 200px;
			background: url("../img/rewardsprogram_guest_header_bg.png") center top no-repeat;
			
		}
		.intro {
			text-align: center;
			font-size: 20px;
			line-height: 30px;
		}
	}
}
.section {
	margin: 0px 15px 15px 15px;
	.header-bar.row {
		font-size: 16px;
		font-weight: bold;
		color: gray;
		background: white;
		padding: 0px;
		border: 1px solid #d8d9db;
		-webkit-box-align: center;
		.col {
			padding: 0px;
		}
		.col.btn{
			-webkit-box-flex: 0;
			flex: 0 0 50px;
			max-width: 50px;
			.button {
				color: white;
				border: none;
				border-radius: 0px;
			}
		}
		.col.title{
			padding-left: 15px;
		}
		.col.point{
			-webkit-box-flex: 0;
			flex: 0 0 70px;
			max-width: 70px;
			text-align: right;
			font-size: 38px;
			padding-right:10px;
		}		
	}
	.content {
		padding: 10px 0px 20px 0px;
	}
}
.section.points {
	.header-bar.row {
		color: $r_darkblue;
		.button{
			background:$r_darkblue; 
		}
		.col.point{
			flex: 0 0 120px;
			max-width: 120px;
		}
	}
	h2 {
		font-weight: bold;
		text-align: center;
		font-size: 17px;
	}
	.reward-list {
		.item {
			white-space: normal;
			border-left: none;
			border-right: none;
			white-space: normal;
			padding: 8px;
			font-size: 14px;
			.col-expire {
				flex: 0 0 90px;
				max-width: 90px;
			}
		}
		.item.item-divider {
			background: $r_darkblue;
			.row {
				pading: 0px;
			}
		}
		.item.title {
			font-size: 18px;
			text-align: center;
			color: $r_darkblue;
			font-weight: bold;
			padding-top: 12px;
		}
	}
	
}
.section.digitalcoupons{
	.header-bar.row {
		color: $r_blue;
		.button{
			background:$r_blue; 
		}
	}
	.rewards_list {
		margin-left: 25px;
		li {
			padding-left: 0px;
			text-indent: -22px;
			font-size: 14px;
			margin-bottom: 10px;
		}
		li:before {
			content:  "\00bb";
			margin-right: 5px;
		}
	}
}
.section.myrxclub{
	.header-bar.row {
		color: #cc232a;
		.button{
			background:#cc232a; 
		}
	}
}
.section.coffee{
	.header-bar.row {
		color: #744938;
		.button{
			background:#744938; 
		}
		.col.point{			
			flex: 0 0 60px;
			max-width: 60px;
		}
	}
	.sub{
		color: #242424;
		font-size: 10px;
		line-height: 10px;
	}
	.content {
		.coffee-desc{
			margin-left: 10px;
			font-size: 11px;
			.coffee_need_points, .free_txt {
				font-weight: bold;
			}
		}
		.cf-points{
			div {
				color: #744938;
				font-size: 14px;
				font-weight: bold;
				display:block;
				float: left;
				width: 25px; 
				height: 24px;
				line-height: 24px;
				text-align: center;
			}
			.cf-point-check {
				background: url('../img/sr_coffee_point.png') center top no-repeat;
			}
		}
	}
}

.section.lodge{
	.header-bar.row {
		color: $green;
		.button{
			background:#afcc56; 
		}
		.sub{
			color: #242424;
			font-size: 10px;
			line-height: 10px;
		}
		.col.point{
			flex: 0 0 85px;
			max-width: 85px;
		}
	}
	.content {
		padding-top: 10px;
		h3,h5 {
			color: $green;
		}
		h5 {
			font-weight: bold;
			margin-bottom: 5px;
		}
		
	}
	.logde-intro {
		padding-top: 10px;
		h5 {
			margin-top: 0px;	
		}
		background: url("../img/mid-lodge-logo.png") right top no-repeat;

		p {
			font-size: 12px;
			line-height: 120%;
			margin-bottom: 20px;
		}
		.button {
			padding-left: 0px;
			padding-right: 0px;
			width: 120px;
		}
	}
	$mid-blue : #00a8ae;
	.lodge-items {
		.button {
			padding-top: 0px;
			padding-bottom: 0px;
			min-height: 15px;
			height: 15px;
			line-height: 15px;
			color:  $mid-blue;
		}
		.titlepanel {
			color: $mid-blue;
			font-size: 20px;
			line-height: 40px;
			text-align: center;
			font-weight: bold;
		}
		.see_other {
			color: #00A8AE;
			padding-left: 30px;
			font-size: 14px;
			font-weight: bold;
		}
		.lodge-btn {
			background-color: $mid-blue;
			padding: 15px;
			font-size: 18px;
			margin-top: 10px;
		}
		.lodge-header{
			font-weight: bold;
			font-size: 20px;
			height: 52px;
			line-height: 52px;
			border-radius: 8px;
			padding: 0px 0px 0px 20px;
			color: #ffffff;	
			margin-bottom: 20px;
			background-color: $green;
			.title{
				
			}
			.points{
				font-size: 40px;
				color: #ffffff;
				height: 52px;
				line-height: 52px;
				margin-right: 10px;
				text-align: right;
			}
		}
		.note {
			font-size: 11px;
			padding-left: 41px;
		}
		$orange: #F15722;
		.explaination {
			overflow: hidden;
			background: url("../img/mid-lodge-logo.png") right top no-repeat;
			ul {
				margin-top: 10px;
				>li{
					overflow: hidden;
					margin-bottom: 5px;
					>div:first-child {
						float: left;
						width: 19px;
						height: 19px;
						&.free {
							background: $green;
						}
						&.purchase {
							background: $orange
						}
					}
					>div.label {
						padding-left: 28px;
						font-size: 14px;
						line-height: 20px;
					}
				}
				float: left;
			}
		}
		.item {
			margin-top: 5px;
			overflow: hidden;
			width: 100%;
			border: 1px solid gray;
			padding: 5px;
			font-size: 13px;
			position:relative;
			min-height: 90px;
			hr {
				border: 1px solid #BBBDC0;
				border-top: none;
			}
			.image {
				float:left;
				width: 40%;
				text-align: center;
				img {
					max-width: 90%;
					margin:0;
					margin-top: 6px;
				}
				.code {
					font-size: 10px;
					color: #bbbdc0;
					text-align: center;
					position: absolute;
					bottom: 5px;
					/*left: 16px;*/
					width:40%;
				}
			}
			.content {
				>div {
					white-space: normal;
				}
				float: left;
				width: 60%;
				padding-left: 10px;
				strong {
					font-weight: bold;
				}
				div {
					margin-bottom: 2px;
				}
				.name {
					font-size: 20px;
					color: #A2CD49;
					font-weight: bold;
				}
			}
			&.notenough {
				border-color: #a6a8ab;
				hr {
					border-color: #a6a8ab;
				}
				.content .name {
					color: #a6a8ab;
				}
			}
			&.enough {
				border-color: $green;
				border-left-width: 10px;
				hr {
					border-color: $green;
				}
				.content .name {
					color: $green;
				}
			}
			&.justenough {
				border-color: $orange;
				border-left-width: 10px;
				hr {
					border-color: $orange;
				}
				.content .name {
					color: $orange;
				}
			}
			.purchase{
				white-space: nowrap;
			}
		}	
	}/*lodge-items*/
	.lodge-programs{
		.button {
			padding-top: 0px;
			padding-bottom: 0px;
			min-height: 15px;
			height: 15px;
			line-height: 15px;
			color:  $mid-blue;
		}
		.titlepanel {
			color: $mid-blue;
			font-size: 20px;
			line-height: 25px;
			text-align: center;
			font-weight: bold;
		}
		.see_other {
			color: #00A8AE;
			padding-left: 30px;
			font-size: 14px;
			font-weight: bold;
		}
		.lodge-section {
			font-size: 14px;
			margin-top: 25px;
			&.terms {
				h1 {
					color: $mid-blue;
				}
			}
			h1 {
				color: $green;
				font-size: 18px;
				font-weight: bold;
			}
			p {	
				margin-bottom: 10px;
			}
			ul{
				margin-left: 10px;
			}
			li::before {
				content:"\00bb "; 
				color: $green;
				font-weight: bold;
				font-size: 18px;
			}
			
		}
		.have-logo{
			padding-top: 10px;
			h5 {
				margin-top: 0px;	
			}
			background: url("../img/mid-lodge-logo.png") right top no-repeat;

			p {
				font-size: 12px;
				line-height: 120%;
				margin-bottom: 20px;
			}
		}
	}/*lodge-programs*/
}
#KidClubAddChild {
	select {
		opacity: 1;
		width: 100%;
		z-index:100;
		border: none;
		background: transparent;
		margin-left: -8px;
		option {
			width: 100%;
		}
	}
	.placeholder{
		color: #aea7a7;
		option{
			color: $text_color;
		}
		option[disabled] {
			color: #aea7a7;
		}
	}
}
.section.kidclub {
	.header-bar.row {
		color: $r_purple;
		.button{
			background:$r_purple; 
		}
	}
	.col img {
		max-width: 98%;
	}
	.sub {
		color: #929497;
		font-size: 10px;
	}
	.child-list {
		.item-divider {
			background: #d7d8d9;
			color: $r_purple;
			text-transform: uppercase;
			text-align: center;
			border: 1px solid #b9bbbd;
			letter-spacing: 4px;
		}
		.item {
			border-left: none;
			border-right: none;
			.actions-ctr{
				text-align: right;
				-webkit-box-flex: 0;
				-webkit-flex: 0 0 110px;
				-moz-box-flex: 0;
				-moz-flex: 0 0 110px;
				-ms-flex: 0 0 110px;
				flex: 0 0 110px;
				max-width: 110px;
			}
			.button {
				width: 60px;
			}
		}		
	}
	.item-checkbox {
		border: none;
		font-size: 12px;
		padding: 5px 5px 5px 30px;
		text-align: left;
		width: 250px;
		margin-left: auto;
		margin-right: auto;
		.checkbox {
			top: 74%;
			left: 0px;
			input:checked:before, input:checked + .checkbox-icon:before {
				background: transparent;
			}
		}
		.checkbox-icon {
			width: 14px;
			height: 14px;
		}
		.checkbox-icon:before{
			border-radius: 0px;
		}
		.checkbox-icon:after{
			top: 6%;
			left: 23%;
			width: 9px;
			height: 7px;
			border-width: 2px;
			border-color: $positive;
		}
	}
	.empty{
		h3 {
			color: $r_purple;
			font-size: 111%;
			font-weight: bold;
			width: 60%;
		}
		img {
			float: right;
		}
		ul {
			list-style-type: disc;
			margin-left: 15px;
			font-size: 90%;
			li {
				text-indent: -5px;
			}
		}
	}
}
.myrxclub .content {
	font-size: 14px;
	.col.center {
		text-align: center;
	}
	.button-long {
		padding-left: 20px;
		padding-right: 20px;
	}
	h3 {
		text-align: center;
		color: $r_blue;
		font-weight: bold;
	}
	a {
		color: $light-blue;
	}
	.required {
		color: $orange_red;
	}
	line-height: 130%;
	.note{
		margin-top: 10px;
		font-size: 80%;
	}
	.impress{
		color: $r_blue;
		font-size: 110%;
		font-weight: bold;
		margin-bottom: 3px;
	}
	
	.link {
		margin: 5px auto 5px auto;
		text-align: center;
		a {
			color: $light-blue;
			font-size: 13px;
			text-decoration: underline;
			display: block;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.druglink {
			width: 280px;
			margin: auto;
			position: relative;
			a {
				text-decoration: none;
			}
			.AlbertsonsDugLink{
				position: absolute;
				top: 30px;
				left: 0px;
				width: 57px;
				display: block;
				/*border: 1px solid gray;*/
				height: 55px
			}
			.UnitedDugLink{
				position: absolute;
				top: 30px;
				left: 57px;
				width: 223px;
				display: block;
				/*border: 1px solid gray;*/
				height: 55px
			}

		}
	}
	.join-the-club {
		
		ul {
			margin-bottom: 20px;
		}
		li {
			strong {
				font-size: 110%;
			}
			padding-top: 10px;
			text-indent: -10px;
			padding-left: 10px;
		}
		li:before {		
			content:  "\00bb";
			padding-right: 5px;
			color: $r_blue;
		}
	}
	.rx-singup{
		.su-text {
			font-size: 100%;
			margin-bottom: 15px;
			line-height: 150%;
		}
		padding-left: 10px;
		padding-right: 10px;
		line-height: 140%;
		.row {
			padding: 3px 0px 0px 0px;
		}
		.col {
			padding: 0px;
		}
		.col.cbox {
			-webkit-box-flex: 0;
			-webkit-flex: 0 0 20px;
			-moz-box-flex: 0;
			-moz-flex: 0 0 20px;
			-ms-flex: 0 0 20px;
			flex: 0 0 20px;
			max-width: 20px;
			margin-top: 1 spx;
			input[type=checkbox] {
				width: 15px;
				height: 15px;
			}
		}
		.item {
			border: none;
		}
		label.item, .label, {
			margin: 0px;
			padding-top: 0px;
			padding-bottom: 0px;
			margin-bottom: 0px;
			font-size: 90%;
			white-space: normal;
		}
		label.item-input, .label.item-input {
			font-size: 90%;
			border: 1px solid #ddd;
			margin-bottom: 10px;
		}
		form > div.row {
			margin-top: 15px;
		}
		form {
			margin-bottom: 20px;
		}
		.link {
			margin: 15px auto 15px auto;
		}
	}
	.rx-singup-success{
		p {
			width: 250px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.rx-welcome{
		.pdflink {
			border : 2px solid $light-blue;
			border-radius: 4px;
			font-size: 11px;
			display: inline-block;
			padding: 4px 6px;
			
		}
		.ion-pdf{
			margin-left: -6px;
		}
		.ion-pdf:before {
			content: url('../img/pdf.png');
			position: relative;
			top: 8px;
		}
		.hipaa {
			padding-bottom: 20px;
			.required {
				font-weight: bold;
			}
		}
		.part {
			border-top: 2px solid #ddd;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		form{
			/*font-size: 12px;*/
			.row {
				padding: 3px 0px 0px 0px;
			}
			.col {
				padding: 0px;
			}
			.col.cbox {
				-webkit-box-flex: 0;
				-webkit-flex: 0 0 20px;
				-moz-box-flex: 0;
				-moz-flex: 0 0 20px;
				-ms-flex: 0 0 20px;
				flex: 0 0 20px;
				max-width: 20px;
				margin-top: 1 spx;
				input[type=checkbox] {
					width: 15px;
					height: 15px;
				}
			}
			.item {
				border: none;
			}
			.label.item {
				margin: 0px;
				padding-top: 0px;
				padding-bottom: 0px;
				margin-bottom: 0px;
				white-space: normal;
				font-size: 90%;
			}
			.buttons {
				margin-top: 15px;
			}
		}
	}
}
.section.accountnumber{
	.header-bar.row {
		color: #cc232a;
		.button{
			background:#cc232a; 
		}
	}
	.sub{
		color: #242424;
		font-size: 10px;
		line-height: 10px;
	}
}
#accountnumber_section {
	.card-container	canvas {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}



