#ShoppingList {
	.header-action {
		margin-bottom: 0px;
		.item {
			border: none;
		}
	}
	h3 {
		text-align: center;
		color: $positive;
		padding-top: 5px;
	}
	.icon-list{
		.button-small{
			min-height: 35px;
		}
	}

}
.add-note-form{
	padding-top: 25px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	
	
}
.mcm-sheet-group {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.shopping-item-list {
	padding: 0px 5px;
	.col.center {
		text-align: center;
	}
	.in-edit {
		display:none;
	}
	.checkmate{
		-webkit-box-flex: 0;
		flex: 0 0 40px;
		max-width: 40px;
		.button{
			width: 26px;
			height: 26px;
			border: solid 2px #d4d4d4;
			min-height: 25px;
			line-height: 25px;
			padding: 0 0;
			border-radius: 25px;
		}
		.ion-android-checkmark:before {
			font-size: 16px;
			font-weight: bold;
			color: black;
		}
		.remove-item {
			font-size: 25px;
			color: $assertive;
		}
	}
	.quantity{
		-webkit-box-flex: 0;
		flex: 0 0 60px;
		max-width: 60px;
		text-align: right;
	}
	.edit-quantity{
		-webkit-box-flex: 0;
		flex: 0 0 60px;
		max-width: 60px;
		text-align: right;

		label {
			/*
			background: #d0d1d3;
			*/
			border-radius: 0px;
			input{
				height: 20px;
				padding-right: 5px;
				text-align: right;
				@include flex(1, 0, 100%);
			}
			padding-left: 5px;
		}
		
	}
	.info{
		white-space: normal;
		.name {
			font-weight: bold;
			white-space: normal;
		}
		.desc {
			font-size: 80%; /* 12px*/ 
		}
		.price {
			font-weight: bold;
			font-size: 100%; /* 12px*/ 
			color: $orange_red;
		}
	}
	.item.coupon {
		border: 2px dashed #00a7ad;
		background-color: rgba(0,167,173,0.15);
		padding: 10px 5px;
		.price span{
			font-weight: normal;
			color: #00a7ad;
		} 
		margin-top: 5px;
		margin-bottom: 2px;
	}
	&.edit-mode{
		.in-edit {
			display: inherit;
		}
		button.in-edit {
			display: inline-block;
		}
		button.in-view {
			display: none;
		}
		
	}
	.del-cat-btn {
		text-transform: uppercase;
		float: right;
		font-size: 12px;
		padding-left: 8px;
		padding-right: 8px;
		i {
			float: left;
			&:before {
				font-size: 25px;
				line-height: 15px;
			}
		}
		div {
			padding-left: 20px;
			font-size: 10px;
			line-height: 10px;
		}
	}
	
}
#ShoppingLists {
	h3 {
		margin-top: 10px;
		margin-left: 10px;
		color: $blue;
	}
	.shoppinglist-list {
		marign-left: 5px;
		margin-right: 5px;

		.item {
			border-left: none;
			border-right: none;
		}
	}
	.sec-header-text{
		font-size: 20px;
		margin-left: 0px;
		margin-top: 0px;
		color: $blue;
	}
	.button {
		min-width:25px;
		&.button-clear {
			padding-left: 0px;
			padding-right: 5px;
		}
	}
	.action-icon {
		color: $blue; font-size: 30px; margin-left: 10px;
		&:before {
			font-size: 28px;
		}
	}
}