<ion-view title="Weekly Ad" ng-controller="WeeklyAdDeptsCtrl as vm">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
	<button class="button button-icon icon ion-wa-flyer" ng-click="goTo('app.weeklyadflyer')"></button>
  </ion-nav-buttons>
  <ion-content class="has-header page-wrap" >
	<div class="list weeklyad-dept-list cat-list">
		<div class="item item-icon-right" ng-click="vm.goAll()">
			All Items
			<i class="icon fa fa-angle-double-right" ></i>
		</div>
		<div class="item item-icon-right" ng-if="vm.ritems.length >0" ng-click="vm.goRecommendedDept()">
			Recommended Items
			<i class="icon fa fa-angle-double-right" ></i>
		</div>
		<div class="item item-icon-right" ng-repeat="dept in vm.depts" ng-click="vm.goDept(dept)">
			{{dept.CategoryName}}
			<i class="icon fa fa-angle-double-right" ></i>
		</div>
	</div>
  </ion-content>
</ion-view>
