<toaster-container toaster-options="{'time-out': 3000, 'close-button':false, tab: true}"></toaster-container>
<drawer side="left" ng-show="false">
   
	<!--
		<header class="bar bar-header bar-stable">
			<h1 class="title">Left</h1>
		</header>
	-->
		<ion-content class="has-header">
			
			<ion-list>
				<ion-item nav-clear menu-close href="#/app/home" class="icon icon-left" ng-show="false">
					<i class='icon icon-menu-home'></i>Home
				</ion-item>				
				<div class="item item-input-inset item-search">
					<label class="item-input-wrapper  item-select">
						
						<select name="state" >
							<option value="" >Food</option>
							<option value="" >Bevage and Scream</option>
							<option value="" >Clothes</option>
							<option value="" >Restaurant</option>							
						</select>
				  	</label>
				    <label class="item-input-wrapper ">
				      <i class="icon ion-search placeholder-icon"></i>
				      <input type="text" placeholder="Enter Location" ng-model="globalKeyword.Keyword">
				    </label>
				    <button class="button button-small button-clear icon fa fa-angle-double-right search-btn"
				    	ng-click="globalSearchStore()">				      
				    </button>
				</div>
				<ion-item nav-clear menu-close href="#/app/storelocator">
					<i class='icon ion-android-locate'></i>NearBy
				</ion-item>  
				<ion-item nav-clear menu-close href="#/app/storelocator" ng-show="false">
					<i class='icon ion-heart'></i>Favorite Brands
				</ion-item>  
				<ion-item nav-clear menu-close href="#/app/storelocator" ng-show="false">
					<i class='icon ion-star'></i>Lucky Day
				</ion-item>  
				<ion-item nav-clear menu-close href="#/app/storelocator" ng-show="false">
					<i class='icon ion-clock'></i>Histories
				</ion-item>       
				<ion-item nav-clear menu-close href="#/app/login" ng-if="isGuestMode">
					<i class='icon ion-log-in'></i>Log In
				</ion-item> 
				<ion-item nav-clear menu-close href="#/app/account" ng-if="!isGuestMode">
					<i class='icon ion-person'></i>Account
				</ion-item>
			
				<ion-item nav-clear menu-close  href="" ng-if="!isGuestMode" ng-click="logout()">
					<i class='icon ion-log-out'></i>Logout
				</ion-item> 
				
				<!--ion-item nav-clear menu-close href="#/app/search">
					<i class='icon icon-menu-search'></i>Search
				</ion-item-->
				<!--ion-item nav-clear menu-close ng-click="openLink(appcfg.FullSiteLink)" class="item-content">
					<i class='icon icon-menu-fullstie'></i>Full site
				</ion-item--> 
				<ion-item nav-clear menu-close  href="#/app/info">
					<i class='icon icon-menu-info ion-information-circled'></i>Info
				</ion-item>  

			</ion-list>
			
		</ion-content>
	
</drawer>
<ion-side-menus>

	<ion-pane ion-side-menu-content  >
		<ion-nav-bar class="bar-stable nav-title-slide-ios7 "  ng-class='{{BarClass}}' >
			<ion-nav-back-button class="button-clear">
					<i class="icon ion-aquo-left fa fa-angle-double-left"></i>
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-pane>

	<ion-side-menu side="left">
	<!--
		<header class="bar bar-header bar-stable">
			<h1 class="title">Left</h1>
		</header>
	-->
		<ion-content class="has-header">
			
			<ion-list>
				<ion-item nav-clear  class="icon icon-left" ng-show="false">
					<i class='icon ion-ios-home'></i>Home
				</ion-item>
				<!--ion-item nav-clear menu-close href="#/app/weeklyad">
					<i class='icon icon-menu-weeklyad'></i>Weekly Ad
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/rewardsprogram">
					<i class='icon icon-menu-sr'></i>Rewards Program
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/digitalcoupons">
					<i class='icon icon-menu-dc'></i>Digital Coupons
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/shoppinglist">
					<i class='icon icon-menu-shoppinglist'></i>Shopping List
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/recipe/cats">
					<i class='icon icon-menu-recipe'></i> Recipes
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/recipebox">
					<i class='icon icon-menu-recipebox'></i> My Recipe Box
				</ion-item-->
				
			
				
				<div class="item item-avatar">
					<img src="{{currentUser.ProfilePic}}" ng-if="currentUser.ProfilePic!='' "   />
					<img src="img/avatar.png" ng-if="currentUser.ProfilePic ==''"   />
					 <label class="item-label">
				    	 {{currentUser.FullName}}
				    </label>
					
				</div>
				<!--div class="item ">
				</div-->
				<div class="item item-input-inset item-filter item-select">
					
						<select ng-options="cat as cat.ArticleTypeName for cat in categories" 
   								ng-model="selectedCategory" ng-change="changeCategory()">
   						</select>
						<!--select >
								<option selected value="0">Filter by Category</option>
   								<option ng-repeat="cat in categories" ng-selected="selectedCategory == cat" value="{{cat.ArticleTypeID}}">{{cat.ArticleTypeName}}</option>
   						</select-->
						<!--select name="state" >
							<option value="" >Food</option>
							<option value="" >Bevage and Scream</option>
							<option value="" >Clothes</option>
							<option value="" >Restaurant</option>							
						</select-->
				  					   
				</div>
				<div class="item item-input-inset">					
				    <label class="item-input-wrapper">
				      <i class="icon ion-search placeholder-icon"></i>
				      <input type="text" placeholder="Enter Location" ng-model="globalKeyword.Keyword">
				    </label>
				    <button class="button button-small button-clear icon fa fa-angle-double-right search-btn"
				    	ng-click="globalSearchStore()">				      
				    </button>
				</div>
				<ion-item nav-clear menu-close href="#/app/storelocator">
					<!--i class='icon ion-android-locate'></i-->
					<img src="img/icon-nearby.png"   />
					NearBy
				</ion-item>  
				<ion-item nav-clear menu-close href="#/app/storelocator" ng-show="false">
					<i class='icon ion-heart'></i>Favorite Brands
				</ion-item>  
				<ion-item nav-clear menu-close href="#/app/storelocator" ng-show="false">
					<i class='icon ion-star'></i>Lucky Day
				</ion-item>  
				<ion-item nav-clear menu-close href="#/app/storelocator" ng-show="false">
					<i class='icon ion-clock'></i>Histories
				</ion-item>       
				<ion-item nav-clear menu-close ng-click="login()" class="log-in" ng-if="isGuestMode">
					<i class='icon ion-log-in'></i>Log In
				</ion-item> 
				<ion-item nav-clear menu-close href="#/app/account" ng-show="false" ng-if="!isGuestMode">
					<i class='icon ion-person'></i>Account
				</ion-item>
			
				<ion-item nav-clear menu-close  href="" ng-if="!isGuestMode" ng-click="logout()">
					<img src="img/icon-logout.png"   />
					<!--i class='icon ion-log-out'></i-->Logout
				</ion-item> 
				
				<!--ion-item nav-clear menu-close href="#/app/search">
					<i class='icon icon-menu-search'></i>Search
				</ion-item-->
				<!--ion-item nav-clear menu-close ng-click="openLink(appcfg.FullSiteLink)" class="item-content">
					<i class='icon icon-menu-fullstie'></i>Full site
				</ion-item--> 
				<ion-item nav-clear menu-close  href="#/app/info">
					<img src="img/icon-info.png"   />
					<!--i class='icon icon-menu-info ion-information-circled'></i-->Info
				</ion-item>  

			</ion-list>
			
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
