#Login {

	
	background: url("../img/login_bg.png") no-repeat ;
	background-size: 100% 100%;
	background-position:center center;
	.login-logo
	{
		text-align: center;
		display: block;
		margin: 77px 0;
		position: relative;
		-webkit-animation: fadeOutLogoLogin 2s linear 1;
		-moz-animation: fadeOutLogoLogin 2s linear 1;
		 -ms-animation: fadeOutLogoLogin 2s linear 1;
		  -o-animation: fadeOutLogoLogin 2s linear 1;
			 animation: fadeOutLogoLogin 2s linear 1;
	}
	
	.second-bar{
		.title {
			font-weight: bold;
			color: white;
			font-size: 120%;
			padding-left: 22px;
		}
		/*
		.forgotlink {
			color: $light_blue;
			font-size: 90%;
			text-align: right;
			padding-right: 8px;
		}
		*/

	}
	.list {
		margin-bottom: 5px;
	}
	.forgotlink {
		font-weight: normal;
	}
	.login-social
	{
		text-align: center;
		/*margin-top:3px; */
		div.col
		{
			img
			{
				cursor: pointer;
				width: 100%;
			}
		}
		div.col.facebook-login
		{
			text-align: center;
			img
			{
				cursor: pointer;
				width: 100%;
				height:40px;
				position: relative;
				max-width:410px;
				-webkit-animation: fadeOutFaceBookLogin 2s ease 1;
					-moz-animation: fadeOutFaceBookLogin 2s ease 1;
					 -ms-animation: fadeOutFaceBookLogin 2s ease 1;
					  -o-animation: fadeOutFaceBookLogin 2s ease 1;
						 animation: fadeOutFaceBookLogin 2s ease 1;
			}
		}
		div.col.google-login
		{
			text-align: right;
			img
			{
				cursor: pointer;
				width: 100%;
				height:40px;
				position: relative;
				max-width:200px;
				-webkit-animation: fadeOutGoogleLogin 2s ease 1;
					-moz-animation: fadeOutGoogleLogin 2s ease 1;
					 -ms-animation: fadeOutGoogleLogin 2s ease 1;
					  -o-animation: fadeOutGoogleLogin 2s ease 1;
						 animation: fadeOutGoogleLogin 2s ease 1;
			}
		}
		div.col.twitter-login
		{
			text-align: left;
			img
			{
				cursor: pointer;
				width: 100%;
				height:40px;
				position: relative;
				max-width:200px;
				-webkit-animation: fadeOutTwitterLogin 2s ease 1;
					-moz-animation: fadeOutTwitterLogin 2s ease 1;
					 -ms-animation: fadeOutTwitterLogin 2s ease 1;
					  -o-animation: fadeOutTwitterLogin 2s ease 1;
						 animation: fadeOutTwitterLogin 2s ease 1;
			}
		}
		
	}
	.login-account-adver{
		.second-bar {
			background: $orange_red;
			color: white;
			font-size: 120%;
			text-align: center;
			line-height: 38px;
			font-weight: bold;
		}
		.header {
			background: url("../img/login-header.png") center center no-repeat;
			height: 65px;
			background-size:auto 100%;
		}
		ul{
			margin-left: auto;
			margin-right: auto;
			width: 275px;
			font-size: 110%;
			li:before {
				content:  "\00bb";
				margin-right: 5px;
			}
		}
	}
}
@mixin fadeOutFaceBookLoginMixin {
	0% {
		opacity: 0; 
	}
	50% {
		opacity: 0; 
	}
	90% {
		opacity: 0; 
	}
	100% {
		opacity: 1; 
	}
	/*from {
		bottom: -100px; 
	}

	to {
		bottom: 0px; 
	} 
	*/
}
/* Facebook Chrome, Safari, Opera */
@-moz-keyframes fadeOutFaceBookLogin {	
    @include fadeOutFaceBookLoginMixin;
}
@-ms-keyframes fadeOutFaceBookLogin {
	@include fadeOutFaceBookLoginMixin;
}
@-o-keyframes fadeOutFaceBookLogin {
	@include fadeOutFaceBookLoginMixin;
}
@-webkit-keyframes fadeOutFaceBookLogin {
	@include fadeOutFaceBookLoginMixin;
}
@keyframes fadeOutFaceBookLogin {
	@include fadeOutFaceBookLoginMixin;
}

/* Google Chrome, Safari, Opera */
@-moz-keyframes fadeOutGoogleLogin {	
    @include fadeOutFaceBookLoginMixin;
}
@-ms-keyframes fadeOutGoogleLogin {
	@include fadeOutFaceBookLoginMixin;
}
@-o-keyframes fadeOutGoogleLogin {
	@include fadeOutFaceBookLoginMixin;
}
@-webkit-keyframes fadeOutGoogleLogin {
	@include fadeOutFaceBookLoginMixin;
}
@keyframes fadeOutGoogleLogin {
	@include fadeOutFaceBookLoginMixin;
}

/* Twitter Chrome, Safari, Opera */
@-moz-keyframes fadeOutTwitterLogin {	
    @include fadeOutFaceBookLoginMixin;
}
@-ms-keyframes fadeOutTwitterLogin {
	@include fadeOutFaceBookLoginMixin;
}
@-o-keyframes fadeOutTwitterLogin {
	@include fadeOutFaceBookLoginMixin;
}
@-webkit-keyframes fadeOutTwitterLogin {
	@include fadeOutFaceBookLoginMixin;
}
@keyframes fadeOutTwitterLogin {
	@include fadeOutFaceBookLoginMixin;
}

/* LogoLogin syntax */
@-webkit-keyframes fadeOutLogoLogin { 
	from { 
		top: -100px;
		opacity:0; 
	} 
	to { 
		top: 0px;
		opacity:1; 
	} 
}
@-webkit-keyframes fadeOutLogoLogin { 
	from { 
		top: -100px;
		opacity:0; 
	} 
	to { 
		top: 0px;
		opacity:1; 
	} 
}
@-moz-keyframes fadeOutLogoLogin  { 
	from { 
		top: -100px;
		opacity:0; 
	} 
	to { 
		top: 0px;
		opacity:1; 
	} 
}
@keyframes fadeOutLogoLogin { 
	from { 
		top: -100px;
		opacity:0; 
	} 
	to { 
		top: 0px;
		opacity:1; 
	} 
}