.icon-menu-home:before,
.icon-menu-weeklyad:before,
.icon-menu-sr:before,
.icon-menu-dc:before,
.icon-menu-shoppinglist:before,
.icon-menu-recipe:before,
.icon-menu-recipebox:before,
.icon-menu-storelocator:before,
.icon-menu-login:before,
.icon-menu-search:before,
.icon-menu-fullstie:before{
	content: "";
	width:25px;
	height:25px;
	background-repeat: no-repeat;
	background-size: 100%;
	display:block;
}

.icon-menu-home:before{
	background-image: url('../img/menu-home.png');
}
.icon-menu-weeklyad:before{
	background-image: url('../img/menu-weeklyad.png');
}
.icon-menu-sr:before{
	background-image: url('../img/menu-sr.png');
}
.icon-menu-dc:before{
	background-image: url('../img/menu-dc.png');
}
.icon-menu-shoppinglist:before{
	background-image: url('../img/menu-shoppinglist.png');
}
.icon-menu-recipe:before{
	background-image: url('../img/menu-recipe.png');
}
.icon-menu-recipebox:before{
	background-image: url('../img/menu-recipebox.png');
}
.icon-menu-storelocator:before{
	background-image: url('../img/menu-storelocator.png');
}
.icon-menu-login:before{
	background-image: url('../img/menu-login.png');
}
.icon-menu-search:before{
	background-image: url('../img/menu-search.png');
}
.icon-menu-fullstie:before{
	background-image: url('../img/menu-fullsite.png');
}
.icon-menu-info:before{
	font-size: 30px;
}
.menu {
	color:white;
	background-color: $bgmenu;
	.header {
	}
	.icon:before {
		display: block;
		margin-right: 10px;
		float: left;
		margin-top: 3px;
	}
	.item-content{
		line-height: 58px;
		font-size: 25px;
		padding: 2px 49px 2px 20px;
		background-color: $bgmenu;
		vertical-align: middle;
		img{
			max-width: 40px;
			vertical-align: middle;
			margin-right: 11px;
		}
		
	}
	.item {
		color:white;
		border: none;
		background-color: $bgmenu;
		margin: 10px 0px;
		.item-input
		{
			-webkit-border-radius: 0px;
			border-radius: 0px;
		}
		.item-input-wrapper 
		{
			-webkit-border-radius: 0px;
			border-radius: 0px;
			background:#54545B;
			.icon
			{
				color:#151518;
			}
			input[type="text"]
			{
				color: #fff;
			}
		}
		.button-clear
		{
			color:#151518;
		}
		
	}
	.item-avatar
	{
		margin:0;
		padding:0;
		text-align: center;
		min-height: 120px;
		img{
			max-width:120px;
			max-height: 120px;			   
			position: initial;
			border-color: $orange_red;
			border-style: solid;
			border-width: 5px;
		}
		.item-label{
			word-break: break-word;
			display: block;
		}
	}
	.item-filter
	{		
		padding: 15px;
   		margin: 10px 51px 10px 11px;
   		background: #54545B;
					
		
			select
			{
				max-width: none;
				width: 100%;
				direction: ltr;
				background-color: #54545B;
				border: none;
				padding: 5px;
				width: 212px;
				color:#fff;
				
			}
		
	}
	
	
}
.back-button i:before {
	margin-left: 3px;
	margin-right: 4px
}

ion-side-menu
{
	ion-item
	{
		i.icon
		{
			font-size: 1.5em;
			color: white;
		}
		
	}
	ion-item.log-in
	{		
		font-size: 20px;
		margin-left: 2px;
	}
}