$orange_red : #cd4835;
$dark_blue: #345fa4;
/*$light_blue: #5ea7ad;*/
$light_blue: #7cc7f1;
$blue: #345fa4;
$txt_blue: #5ea7ad; /* congraulation MyRx clue */

$red2: #cc232a; /* reward programs */
$green: #afcc56;
$brown: #744938;
$text_color: black;

$gray: #909193;