<ion-view title="My Recipe Box" id="RecipeBox">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ul class="list recipe-list">
    	<li class="item" ng-repeat="item in recipes" ng-click="viewDetail(item)">
			<div class="row">
				<div class="image">
					<img ng-src="{{item.ImageUrl}}"/>
					<button class="button button-small button-energized" ng-click="remove(item, $event)">
						<i class="icon ion-loading-c" ng-if="item.isLoading"></i>
						Remove
					</button>
				</div>
				<div class="col info">
					<div class="name"  ng-bind-html="item.Title"></div>
					<div class="desc"><span>Prep: </span><span>{{item.PreparationTime}} </div>
					
				</div>
			</div>
		</li>
		<li class="item noitems" ng-if="recipes && recipes.length == 0">
			No Items.
		</li>
	</ul>
  </ion-content>
</ion-view>
