/* icon */
/*
.ion-ios7-aquo-right:before {
	content:"\00BB"; 
}
.ion-aquo-right:before {
	content:"\00BB"; 
}
.ion-aquo-left:before {
	content:"\000AB";
}


*/
.icon-recipe-box:before{
	background-image: url('../img/recipe-box.png');
	content: "";
	width:24px;
	height:34px;
	background-repeat: no-repeat;
	background-size: 100%;
	display:block;
	
}
.button.button-icon.icon-recipe-box .icon:before {
	vertical-align: baseline;
}
/* end icon */
.button-long {
	padding: 2px 30px 1px;
	min-width: 28px;
	min-height: 30px;
	font-size: 12px;
	line-height: 26px;
	font-size: 13px;
	font-weight: bold;
	border: none;
}
.bar{
	.small-nav-button{
		min-width: 20px;
		width: 30px;
		padding: 0;
		&.button:before {
			font-size: 20px;
		}
	}
}
/*
@media (max-width: 350px) {
	.bar.bar-stable .title {
		left: 50px!important;
	}
	
}
*/
.fa-angle-double-right:before {
	font-weight: bold;
}

.ion-load-d:before, .ion-loading-d:before {
	font-size: 40px;
}
.bar.bar-stable {
	background: $orange_red;
	.title {
		color: white;
		font-weight: bold;
		left: 0 !important; right: 0 !important;
	}
	.button.button-icon {
		color: white;
	}
	.button {
		color: white;
	}
	
	.ion-aquo-left {
		border-right: 1px solid white;
	}
}
.page-wrap {
	.header {
		height: 80px;
	}
}
.cat-list {
	.item {
		background-color: #dddee0;
		border-color: #eff0f2
	}
	i{
		color: #fff;
	}
}
.second-bar {
	height: 48px;
	background-color: #345fa4;
	-webkit-box-align: center;

}
.list.search {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	.item-divider {
		padding-top: 0px;
		padding-bottom: 0px;
	}	
	.button {
		line-height: 30px;
		min-height: 30px;
	}
}
.search-form {
	.button-clear.icon-right:before {
		line-height: 28px;
	}
	padding: 0px 20px 0px 20px;
	.button, input{
		font-size: 14px;
		color: $light-blue;
	}
	border: none;
	.nearby-btn {
		margin-left: 17px;
		margin-right: 8px;
	}
	.search-btn {
		min-width: 30px;
	}
	
	label, input {
		background: $dark_blue;
	}
	label {
		width: 100%;
		border: none;
		height: 70%;
		padding: 2px 0px 2px 16px;
	}
	input {
		border: 1px solid $light_blue;
		color: white;
		flex: 1 0 100%;
		max-width: 100%;
		height: 100%;
		padding-left: 5px;
		
	}
	::-webkit-input-placeholder{
		color: white;
	}
}

.list {
	.item-divider {
		color: white;
		background-color: $dark_blue;
	}
	&.icon-list{
		.button .icon:before, .button.icon:before, .button.icon-left:before, .button.icon-right:before {
			font-size: 45px;
		}
		
	}
}

.animate-if {
  background:white;
  border:1px solid black;
  padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}
.col.center {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}
.button {
	font-weight: bold;
	border: none;
}
.row-has-col-center {
	-webkit-box-align: center;
}
.slide{
  height:100%;
  width:100%;
}
.slider {
    height: 100%;
}
/*
input[type="date"]:before{
	content: attr(placeholder);
	color: #aaa;
}
input[type="date"]:focus:before, input[type="date"]:valid:before,  {
	content: '';
}
*/

.noitems {
	text-align: center;
}

.bar-ver-spliter{
	width: 1px; background: white; height: 32px;
}
.blue-text{
	color: $blue;
}
.no-padding-top-bot{
	padding-top: 0;
	padding-bottom: 0;
}
.popup{
	.button-default{
		border-color: #223f6a;
		background-color: $blue;
		color: #fff;
	}
}