<ion-view title="My Info">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  	</ion-nav-buttons>
     <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="logout()" >Logout</button>
      </ion-nav-buttons>
    
  	<ion-content class="has-header">
  		<div class="list account-list">
        <div class="item item-button-right">
          <div class="label">Social Web</div>
          <div class="value">{{socialWeb}}</div>
          <!--button class="button button-positive button-small" ng-click="edit('name')">Edit</button-->
        </div>
  			<div class="item item-button-right">
          <div class="label">Name</div>
          <div class="value">{{user.FirstName}} {{user.LastName}}</div>
          <!--button class="button button-positive button-small" ng-click="edit('name')">Edit</button-->
        </div>  			
  			<div class="item item-button-right">
  				<div class="label">Email</div>
  				<div class="value">{{user.Email}}</div>
  			</div>  			
  		</div>
  	</ion-content>
</ion-view>
