<ion-view title="Digital Coupons" id="DigitalCoupons">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-wa-dept" ng-click="sortCoupons()"></button>
    <span class="bar-ver-spliter"></span>
    <button class="button button-icon icon ion-ios7-search-strong" ng-click="searchCoupons()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header page-wrap">
	<div ng-if="currentUser && currentUser.SRCardID && !showWatingCardView">
		<div class="header row row-center">
			<div class="col dc-header" >
				Click and add savings to your Rewards account. Savings will automatically be deducted at Checkout.
			</div>
		</div>
		<ul class="list digitalcoupon-list" ng-if="digitalcoupons.length>0">
			<li class="item" ng-repeat="coupon in digitalcoupons | orderBy:predicate:reverse">
				<div class="row">
					<div class="image">
						<img ng-src="{{coupon.ImgFile.indexOf('1x1.gif') != -1 ? defaultImage : coupon.ImgFile}}"/>
						<button class="button button-small button-positive" ng-click="add(coupon)" ng-if="!coupon.IsAdded">Add To Account</button>
						<button class="button button-small button-calm" ng-if="coupon.IsAdded">Added To Account</button>
					</div>
					<div class="col info">
						<!--div class="name"  ng-bind-html="coupon.TextSaving"></div-->
						<div class="name"  ng-bind-html="coupon.Title"></div>
						<div class="desc" ng-bind-html="coupon.Description"></div>
						<div class="title-val"><span>Exp Date: </span><span>{{coupon.ExpDate | date: 'MM/dd/yyyy'}}</span> </div>
						
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- no card view -->
	<div class="guest_view" ng-if="currentUser && !currentUser.SRCardID">
		<div class="guest_header"></div>
		<div class="intro">
			<p>
				To use <strong>Digital Coupons</strong>,<br/> you must be enrolled in the<br/> Rewards Program and be<br/> logged into your account.
			</p>
			<div class="row">
				<div class="col center">
					<button class="button button-energized"ng-click="goTo('app.registercard', {return: 'app.digitalcoupons'})">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
	<!-- waiting card view -->
	<div class="guest_view" ng-if="currentUser && currentUser.SRCardID && showWatingCardView">
		<div class="guest_header"></div>
		<div class="intro">
			<p>Congratulations! Please be aware that it may take up to 30 minutes for your account to become active. Until then, you will not be able to use program features such as digital coupons.</p>
			<p>Remember to use your phone number or alternate ID when you check out in store.</p>
		</div>
	</div>
	<!-- end waiting card -->
	<div class="guest_view" ng-if="isGuest">
		<div class="guest_header"></div>
		<div class="intro">
			To use <strong>Digital Coupons</strong>,<br/> you must be enrolled in the<br/> Rewards Program and be<br/> logged into your account.
		</div>
		<div class="row">
			<div class="col center">
				<button class="button button-positive" ng-click="goTo('app.login', {return: 'app.digitalcoupons'})">Log In</button>
			</div>
		</div>
		<div class="row">
			<div class="col center">
				<button class="button button-energized"ng-click="goTo('app.register', {step: 1, return: 'app.digitalcoupons'})">Sign Up</button>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
