<ion-view title="Shopping List" id="ShoppingLists">
	<ion-nav-buttons side="left">
	    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header  page-wrap">
		<div class="list shoppinglist-list">
			<div class="item row" style="border-top: none; padding-right: 0px;">
				<div style="width: 70%">
					<h3 class="sec-header-text">Saved Shopping Lists</h3>
				</div>
				<div style="text-align: right; width: 30%;">
					<button class="button button-small button-positive" ng-click="create()">Add New List</button>
				</div>
			</div>
			<div class="item row" ng-repeat="shoppinglist in shoppinglists">
				<div class="col col-67 col-center">
					<button class="button-small button-block button button-positive" ng-click="activeShoppingList(shoppinglist)">{{shoppinglist.ShoppingListName}}</button>
				</div>
				<div class="col col-33 col-center" style="margin-left: 20px;">
					<button class="button button-positive button-clear" ng-click="edit(shoppinglist.CS_UserShoppingListId)"><i class="icon ion-edit action-icon"></i></button>
					<button class="button button-positive button-clear" ng-click="delete(shoppinglist)" ng-disabled="shoppinglist.IsActive"><i class="icon ion-ios7-trash action-icon"></i></button-->
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>