<ion-view title="Recipe Detail" id="RecipeDetail">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  	<button class="button button-icon icon-recipe-box" ng-click="goTo('app.recipebox')"></button>
	<button class="button button-icon ion-ios7-email-outline" ng-click="email()" ng-if="!isGuestMode"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
	<!-- tabs-striped tabs-background-positive tabs-light-->
	<div class="recipedetail-content">
		
		<div class="section">
			<div class="row">
				<!--
				<div class="col img">
					<img ng-src="{{recipe.ImageUrl}}"/>
				</div>
				-->
				<div class="col info center">
					<img ng-src="{{recipe.OgriImageUrl}}" class="recipe-img"/>
					<h2> {{recipe.Title}}</h2>
					<div class="desc">{{recipe.Description}}</div>
					<div class="title-val"><span>Servings: </span><span>{{recipe.Servings}}</span> </div>
					<div class="title-val"><span>Prep: </span><span>{{recipe.PreparationTime}}</span> </div>
				</div>
			</div>
			
		</div>
		<div class="section">
			<h3>Ingredients</h3>
			<div class="list ingredient-list">
				<div class="item row" ng-repeat="ingredient in recipe.IngredientCategories[0].Ingredients">
					<div class="col ">
						{{ingredient.ItemName}}
					</div>
					<div class="col add-to-list-ctr">
						<button class="button button-small button-positive" ng-click="addToList(ingredient)" ng-if="!ingredient.IsAdded">
							<i class="icon ion-loading-c" ng-if="ingredient.isLoading"></i>
							Add To List
						</button>
						<button class="button button-small button-calm" ng-click="addToList(ingredient)" ng-if="ingredient.IsAdded">Added To List</button>	
					</div>
									
				</div>
			</div>
			<div class="row" >
				<div class="col" style="text-align: center">
					<button class="button button-small button-positive btn-padding" ng-click="addAllToList(recipe.IngredientCategories[0].Ingredients)">Add All</button>
				</div>
			</div>
		</div>
		<div class="section" ng-bind-html="recipe.PreperationInstructions">
		</div>
		<div class="section">
			<h3>Nutritional Facts</h3>
			<div ng-bind-html="recipe.NutritionValue"></div>
		</div>
		<div class="row" ng-if="!inbox">
			<div class="col" style="text-align: center">
				<button class="button button-small button-positive btn-padding" ng-click="addToRecipeBox(recipe, $event)">
					<i class="icon ion-loading-c" ng-if="recipe.isLoading"></i>
					Add To Recipe Box
				</button>
			</div>
		</div>
		<div ng-switch on="recipe.LogoID" class="recipeVendorLogo">
			<img ng-switch-when="0" src="img/recipe_EatingWell_logo.png" ng-click="openLink('http://eatingwell.com/')"></img>
			<img ng-switch-when="1" src="img/recipe_UMSA_3BAR_LOGO.png"></img>
			<img ng-switch-when="2" src="img/recipe_UMSA_3BAR_LOGO.png"></img>
			<img ng-switch-when="3" src="img/recipe_UMSA_3BAR_LOGO.png"></img>
			<img ng-switch-when="4" src="img/recipe_Chef_Chris_Logo.png"></img>
			<img ng-switch-default src="img/recipe_EatingWell_logo.png" ng-click="openLink('http://eatingwell.com/')"></img>
		</div>
	</div>
  </ion-content>
</ion-view>
