<ion-view title="Search Recipe" id="RecipeSearch">
  	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  	</ion-nav-buttons>
  	
	<ion-content class="has-header">
		<div class="list search">
  			<div class="item item-divider">
	  			<form novalidate class="item-input-inset search-form recipe-search-form" ng-submit="search()">
					<label class="item item-input">
						<input type="text" placeholder="Keyword" ng-model="pageInfo.keyword"/>
					</label>
					<button class="button button-clear icon fa fa-angle-double-right search-btn" type="submit"></button>
	  			</form>
	  		</div>
  		</div>
  		<ul class="list recipe-list">
	    	<li class="item" ng-repeat="item in recipes" ng-click="viewDetail(item)">
				<div class="row">
					<div class="image">
						<img ng-src="{{item.ImageUrl}}"/>
						<button class="button button-small button-positive" ng-click="addToRecipeBox(item, $event)">
							<i class="icon ion-loading-c" ng-if="item.isLoading"></i>
							Add To Recipe Box
						</button>
					</div>
					<div class="col info">
						<div class="name"  ng-bind-html="item.Title"></div>
						<div class="desc"><span>Prep: </span><span>{{item.PreparationTime}} </div>
						<!--
						<button class="button button-small button-positive" ng-click="addToRecipeBox(item, $event)">Add To Recipe Box</button>
						-->
					</div>
				</div>
			</li>
			<li class="item recipe-list noitems" ng-if="recipes && recipes.length == 0">
				No results found
			</li>
		</ul>
	<ion-infinite-scroll ng-if="hasMore" icon="ion-loading-c" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>	
  	</ion-content>
</ion-view>
