
<div class="bar-stable nav-title-slide-ios7 bar bar-header nav-bar disable-user-behavior  no-animation">
	<div class="buttons">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</div>
	<h1 class="title">Shopping List</h1>
	<div class="buttons">
		<button class="button button-small button-clear" ng-click="goTo('app.shoppinglists')" ng-if="!isGuestMode">Lists &raquo;</button>
	</div>
	<!--
  	<div class="buttons" ng-if="mode != 'edit'">		
		<button class="button small-nav-button button-icon ion-ios7-email-outline" ng-click="email()" ng-if="!isGuestMode"></button>
		<button class="button small-nav-button button-icon ion-plus" ng-click="openAddForm()"></button>
		<button class="button small-nav-button button-icon icon ion-edit" ng-click="edit()"></button>
		
	</div>
	<div class="buttons" ng-if="mode == 'edit'">
		<button class="button small-nav-button button-icon ion-plus" ng-click="openAddForm()"></button>
		<button class="button button-icon " ng-click="doneEdit()" ng-if="mode=='edit'">Done</button>
	</div>
	-->

</div>
<ion-view id="ShoppingList">
<!--
  <ion-nav-buttons side="left">
	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
	<button class="button small-nav-button button-icon icon ion-edit" ng-click="edit()" ng-if="mode!='edit'"> </button>
	<button class="button small-nav-button button-icon " ng-click="doneEdit()" ng-if="mode=='edit'">Done</button>
	<button class="button small-nav-button button-icon ion-ios7-email-outline" ng-click="email()"></button>
	<button class="button small-nav-button button-icon ion-plus" ng-click="openAddForm()"></button>
  </ion-nav-buttons>
-->
  <ion-content class="has-header  page-wrap">
  	<h3 ng-if="userShoppingListName">{{userShoppingListName}}</h3>
	<div class="list header-action icon-list">
		<div class="item row" ng-if="mode!='edit'">
			<div class="col col-67 col-center">
				<button class="button button-positive button-small button-long" ng-if="mode!='edit'" ng-click="openAddForm()">+ Add Item</button>
			</div>
			<div class="col col-33 col-center">
				<button class="button button-positive  button-small button-clear" ng-if="!isGuest" ng-click="email()"><i class="icon ion-ios7-email"></i></button>
				<button class="button button-positive  button-small button-clear" ng-if="!isGuest" ng-click="shareShoppingList()" ><i class="icon ion-ios7-chatbubble"></i></button>
			</div>
		</div>
		<div class="item row" ng-if="mode=='edit'">
			<div class="col center">
				<button class="button button-small button-long button-assertive" ng-click="doneEdit()">Done</button>
			</div>
		</div>
	</div>
	<div class="list shopping-item-list" ng-class="{'edit-mode': mode=='edit'}" ng-if="cats == null || cats.isEmpty">
		<div class="item noitems">
			No Items.
		</div>
	</div>
	<div class="list shopping-item-list" ng-class="{'edit-mode': mode=='edit'}" ng-if="cats != null && !cats.isEmpty">
		<div class="group-wrap" ng-if="cats.Notes">
			<div class="item item-divider">
				Added Items
				<button class="button button-small button-assertive del-cat-btn in-edit" ng-click="deleteByCategory(cats.Notes, 'Note')"><i class="icon ion-ios7-trash-outline"></i><div>Delete<br/>Category</div></button>
			</div>
			<div class="item row" ng-repeat="item in cats.Notes">
				<div class="col checkmate">
					<button class="button button-outline button-icon mcm-checkbox in-view " ng-class="{'ion-android-checkmark': item.checked}" ng-click="toggle(item, $event)"></button>
					<i class="icon ion-ios7-trash  remove-item in-edit" ng-click="removeNote(item)"></i>
				</div>
				<div class="col info">
					<div class="name" ng-bind-html="item.Note"></div>
				</div>
				<div class="col quantity" ng-if="mode!='edit'" >{{item.Quantity = item.Quantity == 0 ? 1 : item.Quantity}}</div>
				<div class="col edit-quantity" ng-if="mode == 'edit'">
					<label class="item item-input">
					    <input type="text" ng-model="item.Quantity" ng-change="updateNoteQuantity(item)" maxlength="4" ng-pattern="/^[0-9]{1,4}$/" size="4">
					</label>
				</div>
			</div>
		</div>
		<div class="group-wrap" ng-repeat="(cat, items) in cats" ng-if="cat!='ZExpired' && cat!='Notes'">
			<div class="item item-divider">
				{{cat}}
				<button class="button button-small button-assertive del-cat-btn in-edit" ng-click="deleteByCategory(items, 'Item')"><i class="icon ion-ios7-trash-outline"></i><div>Delete<br/>Category</div></button>
			</div>
			<div class="item row" ng-repeat="item in items" ng-class="{coupon: item.isCoupon}">
				<div class="col checkmate">
					<button class="button button-outline button-icon mcm-checkbox in-view " ng-class="{'ion-android-checkmark': item.checked}" ng-click="toggle(item, $event)"></button>
					<i class="icon ion-ios7-trash  remove-item in-edit" ng-click="removeItem(item)" ng-if="!item.isCoupon"></i>
				</div>
				<div class="col info">
					<div class="name" ng-bind-html="item.ProductName"></div>
					<div class="desc" ng-if="item.ProductDesc" ng-bind-html="item.ProductDesc"></div>
					<div class="price" ng-if="item.ItemPrice&& !item.isCoupon" ng-bind-html="item.ItemPrice"></div>
					<div class="price" ng-if="item.ItemPrice && item.isCoupon"><span>Digital Coupon Price - </span>{{item.ItemPrice}}</div>
					<div class="price" ng-if="item.ExpirationDate&& item.isCoupon"><span>Expiration Date - </span>{{item.ExpirationDate |date:"MM/dd/yyyy"}}</div>
				</div>
				<div class="col quantity" ng-if="mode!='edit' && !item.isCoupon" >{{item.Quantity = item.Quantity == 0 ? 1 : item.Quantity}}</div>
				<div class="col edit-quantity" ng-if="mode == 'edit' && !item.isCoupon">
					<label class="item item-input">
					    <input type="text" ng-model="item.Quantity" ng-change="updateQuantity(item)" maxlength="4" ng-pattern="/^[0-9]{1,4}$/" size="4">
					</label>
				</div>
			</div>
		</div>
		
		<div class="group-wrap" ng-if="cats.ZExpired">
			<div class="item item-divider">
				Expired
				<button class="button button-small button-assertive del-cat-btn in-edit" ng-click="deleteByCategory(cats.ZExpired, 'Item')"><i class="icon ion-ios7-trash-outline" ></i><div>Delete<br/>Category</div></button>
			</div>
			<div class="item row" ng-repeat="item in cats.ZExpired">
				<div class="col checkmate">
					<button class="button button-outline button-icon mcm-checkbox in-view " ng-class="{'ion-android-checkmark': item.checked}" ng-click="toggle(item, $event)"></button>
					<i class="icon ion-ios7-trash  remove-item in-edit" ng-click="removeItem(item)"></i>
				</div>
				<div class="col info">
					<div class="name" ng-bind-html="item.ProductName"></div>
					<div class="desc" ng-if="item.ProductDesc" ng-bind-html="item.ProductDesc"></div>
					<div class="price" ng-if="item.ItemPrice" ng-bind-html="item.ItemPrice"></div>
				</div>

				<div class="col quantity">{{item.Quantity = item.Quantity == 0 ? 1 : item.Quantity}}</div>
			</div>
		</div>
		<div class="row" ng-if="mode=='edit'">
			<div class="col center">
				<button class="button button-small button-long button-assertive" ng-click="clearAll()">Delete All</button>
			</div>
		</div>
		<div class="row" ng-if="mode!='edit'">
			<div class="col center">
				<button class="button button-small button-long button-positive" ng-click="edit()">Edit</button>
			</div>
		</div>
		<!--
		<form class="item item-input-inset" novalidate ng-submit="addNote($event)">
			<label class="item-input-wrapper">
				<input type="text" placeholder="Enter Additional Item" ng-model="newNote.note">
			</label>
			<button class="button button-small button-positive" type="submit">Add</button>
		</form>
		-->
	</div>
  </ion-content>
</ion-view>
<script id="add-note-form-modal.html" type="text/ng-template">
  		<form class="add-note-form item item-input-inset" novalidate ng-submit="addNote()">
			<label class="item-input-wrapper">
				<input type="text" placeholder="Enter Additional Item" ng-model="newNote.note" autofocus="autofocus" id="note_txt">
			</label>
			<button class="button button-small button-positive" type="submit">Add</button>
			<button class="button button-small button-positive" type="button" ng-click="cancel()">Cancel</button>
		</form>
</script>